.Header{
    margin-top: 60px;
}

/* header ribbon */
.typewriter-animation {
  overflow: hidden;          
  white-space: nowrap;       
  border-right: none;        
  width: 0;
  font-size: 25px;
  text-align: center;
  animation: typewriter 2s steps(40, end) forwards;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 35ch; } 
}

.headerRibbon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(4, 63, 4);
}

/*header Img*/

.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: contain;
}

/*Products Ribbon*/

.headerProducts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 35px;
    background-color: rgb(53, 55, 75);
}


