.topImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
}

.NavB{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 40;
}

.navCont {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin: 0 0;
}

.navCont .navLogo{
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  font-size: 25px;
  color: rgb(1, 187, 187);
  font-weight: bolder;
}

.navCont .navLogo:hover {
  color: rgb(1, 187, 187);
}

.basic-navbar-nav {
  margin-left: 750px;
}

